body {
  width: 830px;
  margin: 0 auto;
  color: white;
}
p {
  margin-top: 50px;
}
#or {
  background-color: #d2b48c;
  padding: 30px;
  text-align: center;
  margin: auto;
}

#gris {
  background-color: #808080;
  text-align: center;
  padding: 10px;
  margin: auto;
}
section {
  border: 15px solid #afeeee;
  background-color: #afeeee;
  height: 500px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}


.grande {
  border: solid 1px white;
  display: flex;
  width: 398px;
  height: 249px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.piccolo {
  border: solid white 1px;
  height: 123px;
  width: 197px;
  margin: 0;
}

#rose {
  background-color: #ffdab9;
}

#blue {
  background-color: #7a9eb1;
}

#yellow {
  background-color: #ffe1b3;
}

#mare {
  background-color: #415865;
}

footer {
  background-color: #c0c0c0;
  padding: 10px;
  text-align: center;
}

footer > p {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}
