* {
    box-sizing: border-box;
}
 
.container {
    width: 360px;
    height: 150px;
    /* utile pour voir les effets verticaux (align-items entre autre)*/
    background: #eee;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 360px;
}

 
.item {
    background: lightcoral;
    border: 1px solid darkred;
    padding: 10px;
    width: 83.75px;
    gap: 5px;
    /* pas de height ici sauf quand l'exercice le précise */
}
