* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 101%;
}
body {
  background-image: url(../img/roronoa.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}
.container {
  width: 85%;
  margin: auto;
}

h1 {
  text-align: center;
  background-color: crimson;
  margin: 0;
  padding: 60px;
  font-size: xx-large;
  border-radius: 50px 50px 0 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  list-style: none;
  background-color: crimson;
  margin: 0;
  padding: 30px;
  border-radius: 0 0 50px 50px;
}

a {
  text-decoration: none;
  color: black;
}

nav li:hover {
  transform: scale(2);
}

section {
  height: 1080px;
  display: flex;
  flex-wrap: wrap;
}

.big {
  height: 534px;
  width: 49.616%;
  display: flex;
  flex-wrap: wrap;
}

.small {
  height: 260px;
  width: 49.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size {
  width: 255px;
  height: 197.59px;
  border-radius: 10px;
  margin: 0;
}
.centered {
  text-align: center;
  background-color: crimson;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
}
.fruits {
  list-style: square;
}
.liste {
  background-color: crimson;
  border-radius: 10px;
}

.foot {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  list-style: none;
  background-color: crimson;
  margin: 0;
  padding: 30px;
}

p:hover {
  transform: scale(2);
}
