body{
    background-image: url(../img/luffy.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    
}
.container {
    width: 85%;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    list-style: none;
    background-color: crimson;
    margin: 0;
    padding: 30px;
}

a{
    text-decoration: none;
    color: black;
}

li:hover {
    transform: scale(2);
}

h1 {
    text-align: center;
    background-color: crimson;
    margin: 0;
    padding: 40px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rettangolo {
    height: 380px;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
}
.quadrato {
    width: 49.19%;
    height: 378px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taille {
    width: 75%;
    height: 75%;
    border-radius: 10px 30px;
}

.paragraph{
     text-align: center;
    margin: 40px;
    background-color: crimson;
    border-radius: 10px 30px;
}
.foot {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  list-style: none;
  background-color: crimson;
  margin: 0;
  padding: 30px;
}

p:hover {
    transform: scale(2);
}

