#rouge {
    width: 300px;
    height: 150px;
    border: solid red;
    text-align: center;
    align-content: center;
    margin: auto;
}

#gris {
    width: 400px;
    height: 400px;
    border: solid gray;
    align-content: center;
    margin: auto;
}

#blu {
    width: 50%;
    height: 25%;
    border: solid blue;
    margin: auto;
}

#jaune {
    border: solid yellow;
}

#vert {
    width: 60%;
    max-width: 400px;
    min-width: 200px;
    border: solid green;
    height: 50px;
    margin: auto;
}

#jaune-2 {
    border: solid yellow;
    max-height: 150px;
    min-height: 100px;
    overflow-y: scroll;
}

#violette {
    width: 100%;
    height: 50vh;
    border: solid purple;
    text-align: center;
    align-content: center;
}


#orange {
    border: solid orange;
    width: 200px;
    height: 200px;
    margin: auto;
}

#img {
    border: solid black;
    width: 200px;
    height: 200px;
    background-image: url(../img/ball.jpg);
    background-size: contain;

}

#uno {
    height: 100px;
    border: solid red;
}

#due {
    height: 150px;
    border: solid violet;
}

#tre {
    height: 200px;
    border: solid blue;
}

.large {
    width: 300px;
    border: solid black;
}

#alt {
    height: 50px;
}

#alt1 {
    height: 100px;
}

#alt2 {
    height: 150px;
}