table{
    border-collapse: collapse;
    padding: 8px;
    margin: auto;
}
td{
 
    width: 30px;
    height: 30px;
}

.black{
    background-color: black;
}
.dmarrone{
  background-color: rgb(70, 43, 3);
}
.marrone{
    background-color: rgb(99, 80, 54);
}
.pink{
    background-color: rgb(209, 157, 162);
}
.dpink{
    background-color: palevioletred;
}
.chiaro{
    background-color: antiquewhite;
}
.dvert{
    background-color: green;
}
.vert{
    background-color: greenyellow;
}
